body {
  background-image: url(../images/8094964.gif);
  /* background-repeat: no-repeat; */
  background-size: cover;
}

#container {
  margin: 0px auto;
  width: 599px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
button:hover {
  color: cadetblue;
  background-color: black;
}
#lolo {
  display: flex;
  justify-content: space-evenly;
  font-size: 23px;
  color:purple;
}
button {
  height: 35px;
  width: 40px;
}
.blue {
  background-color: blue;
}
.amarillo {
  background-color: darkred;
}
.kuku {
  width: 290px;
  height: 210px;
}

#Circulo {
  position: absolute;
  top: -23px;
  right: 581px;
  margin: 40px;
}

.numero {
  font-size: 40px;
  color: white;
}
#imgpokemon{
width: 124px;
filter: brightness(10000%);

}
.pistas{
  /* display: flex; */
  width: 65px;
  /* height: 28px; */
  align-items: center;
  /* mix-blend-mode: darken; */
  border-bottom-style: groove;

}
