body {
  background-image: url(https://user-images.githubusercontent.com/36126914/154766367-2c3d9c80-3cdc-4790-b15c-7eba5eee9fd2.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  margin: 70px auto;
  width: 599px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
button:hover {
  color: cadetblue;
  background-color: black;
}
#lolo {
  display: flex;
  justify-content: space-evenly;
  font-size: 29px;
  color:greenyellow;
}
button {
  height: 35px;
  width: 40px;
}
.blue {
  background-color: blue;
}
.amarillo {
  background-color: darkred;
}
.kuku {
  width: 280px;
  height: 260px; 
}
